* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5d5cb;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #f5d5cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}

header > h1 {
    margin-top: 40px;
    text-decoration: line-through;
}

#top-bar {
    background-color: #f5d5cb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.7);
}

#nav-logo {
    width: 60px;
    height: 60px;
    margin: 20px;
}

#nav-icon {
    width: 70px;
    height: 70px;
    color: black;
}

#now-playing-div {
    width: 95%;
    background-color: #c1d4c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.7);
    border-radius: 20px;

}

#now-playing-div > p {
    margin: 3px 0 0 3px;
    padding: 0;
    align-self: flex-start;
    font-weight: 500;
    font-size: large;
}

#now-playing-header-container {
    align-self: flex-start;
    display: flex;
}

#now-playing-header  {
    margin-left: 10px;
    align-self: flex-start;
}

progress[value] {
    --w: 100%; /* the width*/
    --color: #ffde80;
    --background: black; /* the background color */
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--background);
  }
  

  progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
  }


  progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
  }


  progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
  }
  

main {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    background-color: #efe4bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.7);
    border-radius: 10px;
}

#intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#coder-image {
    width: 150px;
}

.intro-container-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


#intro-text {
    padding: 15px;
    font-size: 18px;
    text-align: justify;
}

#content {
    width: 98%;
    border-radius: 10px;
    color: #efe4bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    margin: 10px;
}

#content > h2 {
    width: 98%;
    border-radius: 10px;
    color: #efe4bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    margin: 10px;
}